{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Aquarius</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Aquarius people love to help others. They are liberal, democratic, humanitarians who are broad-minded and enjoy social equality. They are considered reformers, but can be cold and indifferent. They are often eccentric, erratic, rebellious, unpredictable, highly opinionated, original, one-of-a-kind, friendly, sharp-tongued, idealistic, inventive, quick to change their minds, and resolute.
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}