{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Aries</h5>
      <h6 class="card-subtitle mb-2 text-muted">March 21 - April 19</h6>
      <p class="card-text">These individuals often have a very forceful
         confrontational voice. They are stubborn, egoistical, who show-off. 
         They are fiercely independent, extremely competitive, freedom-loving, 
         adventurous, enthusiastic, bold, athletic, impulsive, reckless, dynamic, 
         powerful, overly-confident, loud, blunt, hasty, hard-headed, stubborn,
         strong-willed, hot-tempered, rude, selfish, impulsive, enterprising,
         risk-takers, and challengers. Aries tend to act first and think later.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}