{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">June 21 - July 22</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">They are very sensitive (with unpredictable moods), romantic, nice, sweet, caring and nurturing, motherly, and homey. Cancer individuals like home-cooked meals and quality family time; they are socially conservative, and withdraw from the scene when hurt or offended.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}