{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Capricorn</h5>
      <h6 class="card-subtitle mb-2 text-muted">Decemeber 22 - January 19</h6>
      <p class="card-text">Capricorns are ambitious, determined, patient, mature, powerful, achiever, mysterious (disappearing), reserved, and detached, cautious, hot-tempered generous hard workers. They are usually very ambitious and enjoy responsibility. They are self-disciplined and respect authority. They are career-oriented, with a remarkable capacity for endurance and patience. They possess a tough exterior to prevent others from hurting them. Inside the mysterious Capricorn is a charming and passionate human. They also possess a remarkable sense of humour.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}