{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Gemini</h5>
      <h6 class="card-subtitle mb-2 text-muted">May 21 - June 20</h6>
      <p class="card-text">Geminis are usually good arguers, witty, adaptive, flirtatious, playful (but may come across as offensive), tricksters, inconsistent, easy to please, intellectual, chatty, quick-witted, social butterflies, knowledge-seeking, and changeable. They typically like reading, writing, and mental games, and are great at multitasking.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}