{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Libra</h5>
      <h6 class="card-subtitle mb-2 text-muted">September 23 - October 22</h6>
      <p class="card-text">Those born under the sign of Libra are intelligent, charming, flirtatious, frivolous, graceful, loyal and diplomatic. They like equality, justice, beauty, and beautiful things. They are usually considered social butterflies, polite, gracious, pleasantly mannered, idealistic, and peaceful.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}