{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Pisces</h5>
      <h6 class="card-subtitle mb-2 text-muted">February 19 - March 20</h6>
      <p class="card-text">Independent, determined and innovative. They are highly creative, smart, passionate, sensitive and friendly. They like to take care of others, but are often viewed as offensive because of their changing temperaments.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}