{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Sagittarius</h5>
      <h6 class="card-subtitle mb-2 text-muted">November 22 - December 21</h6>
      <p class="card-text">They are adventurous, independent, friendly, enthusiastic, broad-minded, overly-optimistic, brave, intelligent, love theory, tend to apply textbook theory to their pursuits, tend to be over-achievers, charismatic, flirtatious, rebellious, and freedom-seeking. Sagittariuses dislike restrictions. They can be very cold when their freedom is challenged. They are talkative (although some are shy but even those ones open up a great deal when they begin to connect with someone), natural entertainers, impulsive, exaggerating, over-indulgent, blunt, risk-takers, with a childlike wonder. Sagittarius people are always hungry for knowledge, opportunistic, philanthropic, and philosophical.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}