<!-- page to display all zodiac signs -->
<html>
	<body>
		<ul>

			<li><a href="{{ url_for( 'aries' ) }}">Aries</a></li>
                        <li> <a href="{{ url_for( 'leo' ) }}">Leo</a></li>		
			<li><a href="{{ url_for( 'cancer' ) }}">Cancer</a></li>
			<li><a href="{{ url_for( 'pisces' ) }}">Pisces</a></li>
			<li> <a href="{{ url_for( 'scorpio' ) }}">Scorpio</a></li>
			<li><a href="{{ url_for( 'taurus' ) }}">Taurus</a></li>
			<li> <a href="{{ url_for( 'sagittarius' ) }}">Sagittarius</a></li>
			<li> <a href="{{ url_for( 'gemini' ) }}">Gemini</a></li>
			<li> <a href="{{ url_for( 'virgo' ) }}">Virgo</a></li>
			<li><a href="{{ url_for( 'libra' ) }}">Libra</a></li>
			<li><a href="{{ url_for( 'capricorn' ) }}">Capricorn</a></li>
			<li> <a href="{{ url_for( 'aquarius' ) }}">Aquarius</a></li>
		</ul>
		<br>
		<a href="{{ url_for( 'home' ) }}">Home</a>
	</body>
</html>

