{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Taurus</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">People born under this sign love nice things; they can come across as extremely materialistic, or as people who enjoy the finer things in life. They are sometimes slow to act, great at managing money, lovers of the outdoors (and of doing outdoor activities such as farming or gardening), very practical and down to earth. Taurus people typically dislike change.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}