{% extends "sign_template.html" %}
{% block signcontent %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Virgo</h5>
      <h6 class="card-subtitle mb-2 text-muted">August 23 - September 22</h6>
      <p class="card-text">These individuals are usually considered perfectionists, critical, detail-oriented, fastidious, practical, intelligent, sharp-witted, with keen intellect and powers of observation, shrewd, and penetrating. They have great mental dexterity and try to live healthy lifestyles. They can be judgmental, opinionated, naturally shy, and organized. Virgos often like order and cleanliness, and they know how to effectively prove their point in an argument.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endblock signcontent %}